.navbar-header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    color: blue; margin-right: 20px; text-decoration: none;
}

.nav-link:hover{
    color: darkblue;
}